<form [formGroup]="myFormlogin" (ngSubmit)="onSubmit(refLocalForm)" #refLocalForm="ngForm" ngNativeValidate>
    <div class="form-group">
        <input placeholder="Email" type="email" class="form-control" id="emailTS" aria-describedby="Email"
            formControlName="emailTS">
    </div>
    <div class="form-group">
        <input placeholder="Senha" type="password" class="form-control" id="passwordTS" aria-describedby="Senha"
            formControlName="passwordTS">
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button"
            [disabled]="!myFormlogin.valid">Logar</button>
    </div>
</form>
