<div class="container">
    <div class="row">
        <div class="col-12 ">
            <div class="card text-center">
                <div class="card-header">
                    <a [routerLink]="['Entrar']" class="link-nav active"><i class="fa fa-user"></i>Entrar</a>
                    <a [routerLink]="['Cadastrar']" class="link-nav not-active"><i class="fa fa-user-plus"></i>Cadastrar</a>
                </div>
                <div class="card-body">
                    <!--Aqui fica o compoments Cadastro/Login-->
                    <router-outlet></router-outlet>
                </div>

                    <!-- 
                        --Aqui são as mensagens de erro ou sucesso--
                        <div class="message-response">
                            <div class="alert alert-error" role="alert">
                                Message ERROR or SUCESS
                            </div>
                        </div>
                    -->

            </div>
        </div>
    </div>
</div>